<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>

<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
  <div class="am-footer-miscs">
    <p>{$copyright.buttom}</p>
  </div>
  <div class="am-footer-miscs">
    <p>由
      <a href="//ty.cqjtu.edu.cn" title="天佑工作室" target="_blank" class="">天佑工作室 </a>提供技术支持</p>
    <p>CopyRight©2015 CQJTU</p>
    <p>渝ICP备11007697号-1</p>
  </div>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/assets/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/assets/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.legacy.js"></script>
<![endif]-->
<script>
$.AMUI.progress.start();
$(window).load(function(){
  $.AMUI.progress.done();
});
</script>
<script type="text/javascript">
$(function() {
	$(".am-topbar-nav").find("a[href='{:U()}']").parent().addClass('am-active');
});
</script>
<script src="http://www.microsofttranslator.com/ajax/v2/toolkit.ashx?mode=manual&toolbar=thin"></script>
<style>
#MicrosoftTranslatorToolbar{background:#000!important;border:none!important}#MSTTProgressBar{height:3px!important;background-image:none!important}.MSTTLanguageBox,.MSTTOptBox{border-left-color:#ccc!important}
</style>
</body>
</html>