<include file="Public/header" />
<include file="Public/nav" />

<div class="am-container">
<notempty name="tips">
<div class="am-alert am-alert-default" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <p>{$tips}</p>
</div>
</notempty>
    <form method="post" class="am-form">
      <if condition="$quickreport eq 'true'">
      <label for="username">姓名:</label>
      <input type="text" name="username" id="username" placeholder="请输入真实姓名" required>
      <br>
      <label for="uid">识别码:</label><a href="javascript:modal_alert('请联系网站管理员解决');" class="am-fr">信息不匹配?</a>
      <input type="text" name="uid" id="uid" placeholder="请输入学号（或教职工号/一卡通号）" required>
      <br>      
      <else/>
      <label for="uid">识别码:</label>
      <input type="text" name="uid" id="uid" placeholder="请输入学号（或教职工号/一卡通号）" required>
      <br>
      <label for="password">密码:</label><a href="javascript:modal_alert('请联系网站管理员解决');" class="am-fr">忘记密码?</a>
      <input type="password" minlength="6" maxlength="20" name="password" id="password" placeholder="请输入密码" required>
      <br>
      </if>
      <label for="verify">验证码:</label>
      <img src="{:U('User/v')}" onclick="$(this).attr('src','{:U('User/v')}'+'?random='+Math.random())" class="am-img-responsive">
      <input type="text" name="verify" id="verify" maxlength="5" placeholder="请输入验证码" required>
      <br>    
      <div class="am-btn-group am-btn-group-justify am-cf">
        <input type="submit" value="登 录" class="am-btn am-btn-primary am-radius am-fl">
        <if condition="$allowregister eq 'true'">
        <input type="button" onclick="window.location.href='{:U('User/register')}'" value="木有账户?点此注册" class="am-btn am-btn-default am-radius am-fr <if condition="$allowregister eq 'false'">am-disabled</if>">
        </if>
      </div>
    </form>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">操作提示</div>
    <div class="am-modal-bd">
      
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
<script>
  function modal_alert(string){
  	$('#alert').find('.am-modal-bd').text(string);
    $('#alert').modal();
  }
</script>
<include file="Public/footer" />