<include file="Public/header" />
<style type="text/css">
	.controls a{border-left:1px #DDD solid; margin-left:10px; padding-left:10px; color:#333;}
</style>

<include file="Public/topbar" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Public/sidebar" />
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统设置</strong> / <small>System setting</small></div>
    </div>

    <hr/>

    <div class="am-container">
	<ul class="am-nav am-nav-pills am-nav-justify">
	  <li><a href="#set">全局设置</a></li>
	  <li><a href="#copyright">版权信息设置</a></li>
	  <li><a href="#tips">提示语设计</a></li>
	  <li><a href="#designer">区域/楼栋设计器</a></li>
	</ul>
	<hr>
    	<div class="am-panel am-panel-default">
		  <div class="am-panel-hd am-cf" data-am-collapse="{target: '#set'}">全局设置<span class="am-icon-chevron-down am-fr" ></span></div>
		  <div class="am-panel-bd am-collapse am-in" id="set"> 
			<form action="{:U('Main/setGlobal')}" method="post" class="am-form am-form-horizontal">
		    <div class="am-form-group">
		      <label for="doc-select-1">是否开放站点</label>
		      <select id="doc-select-1" name="global[isopen]">
		        <option value="true">是</option>
		        <option value="false">否</option>
		      </select>
		      <span class="am-form-caret"></span>
		    </div>

		    <div class="am-form-group">
		      <label for="doc-select-2">前台是否开放注册</label>
		      <select id="doc-select-2" name="global[allowregister]">
		        <option value="true">是</option>
		        <option value="false">否</option>
		      </select>
		      <span class="am-form-caret"></span>
		    </div>

		    <div class="am-form-group">
		      <label for="doc-select-3">前台用户登录方式</label>
		      <select id="doc-select-3" name="global[quickreport]">
		        <option value="true">姓名+学号</option>
		        <option value="false">学号+密码</option>
		      </select>
		      <span class="am-form-caret"></span>
		    </div>

		    <button type="submit" class="am-btn am-btn-block">确 定</button>
			</form>
		  </div> 
		  <div class="am-panel-footer">点击展开</div>  		
    	</div>

    	<div class="am-panel am-panel-default">
    	<div class="am-panel-hd am-cf" data-am-collapse="{target: '#copyright'}">版权信息设置<span class="am-icon-chevron-down am-fr" ></span></div>
    	<div class="am-panel-bd am-collapse am-in" id="copyright">
    		<form action="{:U('Main/setCopyright')}" method="post" class="am-form am-form-horizontal">
		    <div class="am-form-group">
		      <label for="doc-cr-1">通用底部版权</label>
		      <textarea class="" rows="5" id="doc-cr-1" name="copyright[buttom]" maxlength="255" placeholder="255字以内，不显示请留空">{$copyright.buttom}</textarea>
		    </div>
		    <div class="am-form-group">
		      <label for="doc-cr-2">通知公告 关于我</label>
		      <textarea class="" rows="5" id="doc-cr-2" name="copyright[aboutus]" maxlength="255" placeholder="255字以内">{$copyright.aboutus}</textarea>
		    </div>
		    <div class="am-form-group">
		      <label for="doc-cr-3">通知公告 关于我 外部链接</label>
		      <input id="doc-cr-3" class="" name="copyright[link]" value="{$copyright.link}" type="text" placeholder="输入完整URL（例如http://xxx）" />
		    </div>
		    <button type="submit" class="am-btn am-btn-block">确 定</button>		    
		    </form>
    	</div>
    	<div class="am-panel-footer">点击展开</div> 
    	</div>

    	<div class="am-panel am-panel-default">
    	<div class="am-panel-hd am-cf" data-am-collapse="{target: '#tips'}">提示语设计<span class="am-icon-chevron-down am-fr" ></span></div>
    	<div class="am-panel-bd am-collapse am-in" id="tips">
    		<form action="{:U('Main/setTips')}" method="post" class="am-form am-form-horizontal">
		    <div class="am-form-group">
		      <label for="doc-ta-1">用户登录页面提示</label>
		      <textarea class="" rows="5" id="doc-ta-1" name="tips[login]" maxlength="255" placeholder="255字以内，不显示请留空">{$tips.login}</textarea>
		    </div>
		    <div class="am-form-group">
		      <label for="doc-ta-2">用户注册页面提示</label>
		      <textarea class="" rows="5" id="doc-ta-2" name="tips[register]" maxlength="255" placeholder="255字以内，不显示请留空">{$tips.register}</textarea>
		    </div>
		    <div class="am-form-group">
		      <label for="doc-ta-3">普通报修页面提示</label>
		      <textarea class="" rows="5" id="doc-ta-3" name="tips[report]" maxlength="255" placeholder="255字以内，不显示请留空">{$tips.report}</textarea>
		    </div>		    
		    <div class="am-form-group">
		      <label for="doc-ta-4">紧急报修页面提示</label>
		      <textarea class="" rows="5" id="doc-ta-4" name="tips[emerg]" maxlength="255" placeholder="255字以内，不显示请留空">{$tips.emerg}</textarea>
		    </div>
		    <div class="am-form-group">
		      <label for="doc-ta-5">工单详情页面提示</label>
		      <textarea class="" rows="5" id="doc-ta-5" name="tips[detail]" maxlength="255" placeholder="255字以内，不显示请留空">{$tips.detail}</textarea>
		    </div>
		    <button type="submit" class="am-btn am-btn-block">确 定</button>	    		    
    		</form>
		</div>
    	<div class="am-panel-footer">点击展开</div>
    	</div>

		<div class="am-panel am-panel-default">
		  <div class="am-panel-hd am-cf" data-am-collapse="{target: '#designer'}">区域/楼栋设计器<span class="am-icon-chevron-down am-fr" ></span></div>
		  <div class="am-panel-bd am-collapse am-in" id="designer">
		  	<form method="post" class="am-form am-form-horizontal">
	        <div class="controls">
	        	<if condition="empty($area) or empty($building)">
	            <div class="controls">
	                <label>名称：
	                <input name="config[menu][button][0][name]" type="text" required></label> 
	                <span class="check-tips"><a class="am-icon-arrows" title="拖动调整此菜单位置" href="javascript:;"></a></span> 
	                <span class="check-tips"><a class="add-button am-icon-plus" title="添加一级菜单" href="javascript:;"></a></span> 
	                <span class="check-tips"><a class="remove-button am-icon-close" title="删除一级菜单" href="javascript:;"></a></span>
	                <div class="children">
	                	<a class="am-icon-arrows" title="拖动调整此菜单位置" href="javascript:;"></a>
	                    <a class="add-sub-cate am-icon-plus" title="添加二级菜单" href="javascript:;"></a> 
	                    <a class="remove-sub-cate am-icon-close" title="删除二级菜单" href="javascript:;"></a>
	                    </label>
	                    <label>名称： 
	                    <input type="text" name="config[menu][button][0][sub_button][0][name]" class="text input-large" required></label>
	                    <label>标识： 
	                    <input type="text" name="config[menu][button][0][sub_button][0][key]" class="text input-large" required></label>
	                </div>
	            </div>
	        	<else/>
	        	<foreach name="area" item="vo" key="k" >
	            <div class="controls">
	                <label>名称：
	                <input name="config[menu][button][{$k}][name]" type="text" value="{$vo}" required></label> 
	                <a class="am-icon-arrows" title="拖动调整此菜单位置" href="javascript:;"></a>
	                <span class="check-tips"><a class="add-button am-icon-plus" title="添加一级菜单" href="javascript:;"></a></span> 
	                <span class="check-tips"><a class="remove-button am-icon-close" title="删除一级菜单" href="javascript:;"></a></span>
	                <foreach name="building[$k]" item="value" key="key" >
	                <div class="children">
	                	<a class="am-icon-arrows" title="拖动调整此菜单位置" href="javascript:;"></a>
	                    <a class="add-sub-cate am-icon-plus" title="添加二级菜单" href="javascript:;"></a>
	                    <a class="remove-sub-cate am-icon-close" title="删除二级菜单" href="javascript:;"></a>
	                    <a></a>  
	                    </label>
	                    <label>名称： 
	                    <input type="text" name="config[menu][button][{$k}][sub_button][{$key}][name]" class="text input-large" value="{$value.name}" required></label>
	                    <label>标识： 
	                    <input type="text" name="config[menu][button][{$k}][sub_button][{$key}][key]" class="text input-large" value="{$value.key}" required></label>
	                </div>
	                </foreach>
	            </div>
	            <hr>
	            </foreach>
	            </if>
	        </div><!-- controls end -->		
        	<button type="submit" class="am-btn am-btn-block">确 定</button>
		    </form>
		  </div>
		  <div class="am-panel-footer">可以使用 <i class="am-icon-arrows"></i> 进行拖动排序</div>  	
    	</div>

       <hr />
       <p>后勤在线服务中心 Online Service Center</p>
  	</div>	
  <!-- content end -->
  </div>
</div>
<script src="__PUBLIC__/resource/js/jquery-ui.min.js"></script>
<script>
$(function() {
    $('.controls').sortable({handle: '.am-icon-arrows'});
});

    $(document).delegate('.add-button',"click",function(){
            var c = '.controls',cn = '.children';
            var t = $(this).parents(c).html();
            var l = $(this).parents(c).parent(c).find(c).length;
            var a = $(this).parents(c).find(cn).first().html();
            console.log(a);
            var s = parseInt($(this).parents(c).parent(c).find(c).last().html().match(/\[button\]\[(\d+)\]/i)[1]);


            s = (s<1)?0:s;
            t = t.replace(/(<a[\s\S]+?)(add-button)([\s\S]+?)(添加一级菜单)([\s\S]+?)(icon-add)([\s\S]+?<\/a>)/i, "$1remove-button$3删除一级菜单$5$6 icon-remove$7");
            t = t.replace(/(<div[\s\S]+?class="children")([\s\S]+?)(<\/div>)/g, '');
            t = t+'<div class="children">'+a+'</div>';
            t = t.replace(/(\[button\]\[)(\d+)(\])/g, "$1"+parseInt(parseInt(s) + 1).toString()+"$3");
            t = t.replace(/(\[sub_button\]\[)(\d+)(\])/g, "$1"+(0).toString()+"$3");
            t = t.replace(/(<input)(.*?)(value=")(.*?)("([^>]*?)>)/g, "$1$2$3$5");
            //if(l < 3){
                    $($(this).parents(c).parent(c)).append('<div class="controls">'+t+'</div>');
            //}
            return false;
    })
    $(document).delegate('.add-sub-cate',"click",function(){
            var c = '.controls',cn = '.children';
            var t = $(this).parent(cn).html();
            var l = $(this).parent(cn).parent(c).find(cn).length;
            var s = parseInt($(this).parent(cn).parent(c).find(cn).last().html().match(/sub_button\]\[(\d+)\]/i)[1]);
            s = (s<1)?0:s;
            t = t.replace(/(<a[\s\S]+?)(add-sub-cate)([\s\S]+?)(添加二级菜单)([\s\S]+?)(icon-add)([\s\S]+?<\/a>)/i, "$1remove-sub-cate$3删除二级菜单$5$6 icon-remove$7");
            t = t.replace(/(<input)(.*?)(value=")(.*?)("([^>]*?)>)/g, "$1$2$3$5");
            t = t.replace(/(sub_button\]\[)(\d+)(\])/g, "$1"+parseInt(parseInt(s) + 1).toString()+"$3");
            //if(l < 5){
            $($(this).parent(cn).parent(c)).append('<div class="children">'+t+'</div>');
            //}

            return false;
    })
    $(document).delegate(".remove-sub-cate","click",function(){
            $(this).parent('.children').remove();
    });
    $(document).delegate(".remove-button","click",function(){
            $(this).parent('.check-tips').parent('.controls').remove();
    });

  var timer = setInterval(function(){
    $('#doc-select-1').find('option[value="{$global.isopen}"]').attr('selected', 'selected');
    if (!$.AMUI.support.mutationobserver) {
      $('#doc-select-1').trigger('changed.selected.amui');
    }
    $('#doc-select-2').find('option[value="{$global.allowregister}"]').attr('selected', 'selected');
    if (!$.AMUI.support.mutationobserver) {
      $('#doc-select-2').trigger('changed.selected.amui');
    }
    $('#doc-select-3').find('option[value="{$global.quickreport}"]').attr('selected', 'selected');
    if (!$.AMUI.support.mutationobserver) {
      $('#doc-select-3').trigger('changed.selected.amui');
    }        
    clearInterval(timer);
  },100);
</script>
<script type="text/javascript">
$(function() {
	$(".am-nav").find("a[href='"+location.hash+"']").parent().addClass('am-active');
	window.onhashchange=function(){
		$(".am-nav").find("li").removeClass('am-active');
		$(".am-nav").find("a[href="+location.hash+"]").parent().addClass('am-active');
	}
});
</script>
<include file="Public/footer" />
