<include file="Public/header" />

<include file="Public/topbar" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Public/sidebar" />
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户列表</strong> / <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default" onclick="window.location.href='{:U('User/doctorAdd')}'"><span class="am-icon-plus"></span> 新增</button>
            <button type="button" id="markDel" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
       <form>
        <div class="am-input-group am-input-group-sm">
          <input name="username" type="text" placeholder="请输入用户名" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
          </span>
        </div>
       </form>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" class="check-all" /></th><th class="table-id">UID</th><th class="table-title">用户名</th><th class="table-type">最后登陆时间</th><th class="table-author am-hide-sm-only">最后登陆IP</th><th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <foreach name="list" item="vo" >
            <tr>
              <td><input type="checkbox" class="ids" name="uid[]" value="{$vo.uid}"/></td>
              <td>{$vo.uid}</td>
              <td>{$vo.username}</td>
              <td>{:date('Y-m-d H:i:s',$vo['lasttime'])}</td>
              <td class="am-hide-sm-only">{$vo.lastip}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button onclick="window.location.href='{:U('User/doctorEdit',array('uid'=>$vo['uid']))}'" class="am-btn am-btn-default am-btn-xs am-text-secondary" type="button"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
          </tbody>
        </table>
          <div class="am-cf">
  共 {$count} 条记录
  <div class="am-fr">
{$page}
  </div>
</div>
          <hr />
          <p>后勤在线服务中心 Online Service Center</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<script>
$(function(){
  //全选的实现
  $(".check-all").click(function(){
    $(".ids").prop("checked", this.checked);
  });
  $(".ids").click(function(){
    var option = $(".ids");
    option.each(function(i){
      if(!this.checked){
        $(".check-all").prop("checked", false);
        return false;
      }else{
        $(".check-all").prop("checked", true);
      }
    });
  });
  $('.am-table>tbody>tr>td:gt(0)').click(function(){
    $(this).parent().find('.ids').click();
  });
  $('#markDel').click(function(){
    var string = '';
    var config = {
      action:'doctorDel',
      success:'删除成功',
      fail:'删除失败',
      error:'操作失败'
    };
    modal_confirm(string,config);
  });

});
</script>
<include file="Public/footer" />
