<include file="Public/header" />

<include file="Public/topbar" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Public/sidebar" />
  <!-- sidebar end -->
  
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">前台用户修改</strong> / <small>Account editor</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12">
        <form method="post" id="doc-vld-msg" class="am-form">
        <fieldset>
          <div class="am-form-group">
            <label for="uid" class="am-form-label">学号</label>
            <div class="">
              <input type="text" name="uid" id="uid" value="{$user.uid}" disabled>
              <small></small>
            </div>
          </div>

          <if condition="$quickreport eq 'true'">
          <div class="am-form-group">
            <label for="username" class="am-form-label">姓名</label>
            <div class="">
              <input type="text" maxlength="20" name="username" id="username" placeholder="输入你的用户名" value="{$user.username}" required>
              <small></small>
            </div>
          </div>          
          <else/>
          <div class="am-form-group">
            <label for="password" class="am-form-label">密码</label>
            <div class="">
              <input type="password" name="password" minlength="6" maxlength="20" id="password" placeholder="输入你的密码6-20位" required>
              <small></small>
            </div>
          </div>

          <div class="am-form-group">
            <label for="rpassword" class="am-form-label">确认密码</label>
            <div class="">
              <input type="password" id="rpassword" minlength="6" maxlength="20" placeholder="再次输入你的密码" data-equal-to="#password" required>
            </div>
          </div>
          </if>

        <div class="am-form-group">
          <label class="am-form-label">报修区域：</label>
          <select id="province" name="area" required>
            <option value="载入中">载入中</option>
          </select>                     
        </div>

        <div class="am-form-group">
          <label class="am-form-label">报修楼栋：</label>
          <select id="city" name="building" required>
            <option value="载入中">载入中</option>
          </select>        
        </div>

        <div class="am-form-group">
          <label for="location" class="am-form-label">常驻寝室：</label>
          <input type="text" id="location" value="{$user.location}" name="location" placeholder="请输入寝室号"/>
        </div>

        <div class="am-form-group">
          <label for="tel" class="am-form-label">联系电话：</label>
          <input type="text" name="tel" id="tel" value="{$user.tel}" placeholder="请输入联系电话" />
        </div>

          <div class="am-form-group">
            <div class="">
              <button type="submit" class="am-btn am-btn-primary">提交</button>
            </div>
          </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.city.select.js"></script>
<script>
$(function() {

    var data = {$data};

    $('#province, #city').citylist({data:data, id:'id', children:'citys',name:'name',metaTag:'name'});
    window.prettyPrint && prettyPrint();

  $('#doc-vld-msg').validator({
    onValid: function(validity) {
      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
    },

    onInValid: function(validity) {
      var $field = $(validity.field);
      var $group = $field.closest('.am-form-group');
      var $alert = $group.find('.am-alert');
      // 使用自定义的提示信息 或 插件内置的提示信息
      var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

      if (!$alert.length) {
        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
          appendTo($group);
      }

      $alert.html(msg).show();
    }
  });
});

  var timer = setInterval(function(){
    $('#province').find('option[value="{$user['area']}"]').attr('selected',true);
    if (!$.AMUI.support.mutationobserver) {
      $('#province').trigger('changed.selected.amui');
    }
    $('#city').find('option[value="{$user['building']}"]').attr('selected', true);
    if (!$.AMUI.support.mutationobserver) {
      $('#city').trigger('changed.selected.amui');
    }    
    clearInterval(timer);
  },100);
</script>
<include file="Public/footer" />
