<include file="Public/header" />

<include file="Public/topbar" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Public/sidebar" />
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">未处理列表</strong> / <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button id="markDoing" type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 标记为处理中</button>
            <button id="markDone" type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 标记为已处理</button>
            <button id="markDel" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            <a class="am-btn am-btn-default" href="__SELF__?action=export" target="_blank"><span class="am-icon-file-excel-o"></span> 导出</a>
          </div>
        </div>
      </div>

      <form>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
        	<notempty name="area">
			<select name="area[]" multiple data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'secondary'}">
			  <foreach name="area" item="vo" key="k" >
			  	<option value="{$vo}" <if condition="in_array($vo,I('get.area'))">selected</if>>{:area($vo)}</option>
			  </foreach>			  
			</select> 
			</notempty>

			<notempty name="building">
			<select name="building[]" multiple data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'secondary'}">
			  <foreach name="building" item="vo" key="k" >
			  	<option value="{$vo}" <if condition="in_array($vo,I('get.building'))">selected</if>>{:buildings($vo)}</option>
			  </foreach>			  
			</select>
			</notempty>			
        </div>        
      </div>

      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" name="order" placeholder="输入工单号" class="am-form-field">
          <input type="hidden" name="startDate" id="startDate">
          <input type="hidden" name="endDate" id="endDate">          
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
          </span>
        </div>
      </div>
      </form>
    </div>

  <div class="am-g">
    <div class="am-u-sm-6">
      <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期</button><span id="my-startDate">{:empty(I('get.startDate'))?date('Y-m-d',strtotime('-1 month')):I('get.startDate')}</span>
    </div>
    <div class="am-u-sm-6">
      <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期</button><span id="my-endDate">{:empty(I('get.endDate'))?date('Y-m-d'):I('get.endDate')}</span>
    </div>
  </div>  

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" class="check-all"/></th>
                <th class="table-type">工单号</th>
                <th class="table-title am-hide-sm-only">区域</th>
                <th class="table-type">楼栋</th>
                <th class="table-author">地点</th>
                <th class="table-date am-hide-sm-only">日期</th>
                <th class="table-author am-hide-sm-only">报修人</th>
                <th class="table-author">物品</th>
                <th class="table-id am-hide-sm-only">描述</th>
              </tr>
          </thead>
          <tbody>
          <foreach name="list" item="vo" key="k" >
            <if condition="$vo.emerg eq 1"><tr class="am-active"><else/><tr></if>
              <td><input class="ids" type="checkbox" name="order[]" value="{$vo.order}"/></td>
              <td><a href="{:U('Home/Report/detail',array('order'=>$vo['order']))}" target="_blank">{$vo.order}</a></td>
              <td class="am-hide-sm-only">{:area($vo['area'])}</td>
              <td>{:empty($vo['building'])?'-':building($vo['area'],$vo['building'])}</td>
              <td>{$vo.location}</td>
              <td class="am-hide-sm-only">{:date('Y年m月d日 h:i:s',$vo['time'])}</td>
              <td class="am-hide-sm-only">{$vo.user}</td>
              <td>{:empty($vo['good'])?'-':$vo['good']}</td>      
              <td class="am-hide-sm-only"><empty name="vo.description">无<else/>有</empty></td>
            </tr>
            </foreach>
          </tbody>
        </table>
          <div class="am-cf">
  共 {$count} 条记录
  <div class="am-fr">
{$page}
  </div>
</div>
          <hr />
          <p>后勤在线服务中心 Online Service Center</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<script>
  $(function() {
    var startDate = new Date('{:empty(I('get.startDate'))?date('Y-m-d',strtotime('-1 month')):I('get.startDate')}');
    var endDate = new Date('{:empty(I('get.endDate'))?date('Y-m-d'):I('get.endDate')}');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          modal_alert('开始日期应小于结束日期！');
        } else {
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
          $('#startDate').val($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          modal_alert('结束日期应大于开始日期！');
        } else {
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
          $('#endDate').val($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
</script>
<script>
  $(function(){
  //全选的实现
  $(".check-all").click(function(){
    $(".ids").prop("checked", this.checked);
  });
  $(".ids").click(function(){
    var option = $(".ids");
    option.each(function(i){
      if(!this.checked){
        $(".check-all").prop("checked", false);
        return false;
      }else{
        $(".check-all").prop("checked", true);
      }
    });
  }); 
  $('.am-table>tbody>tr>td:gt(0)').click(function(){
    $(this).parent().find('.ids').click();
  });

  $('#markDoing').click(function(){
    $('#prompt').modal({
      relatedTarget: this,
      onConfirm: function(e) {
	    $.ajax({
	      'type':'post',
	      'url':"{:U('Task/doing')}",
	      'data':$('form').serialize()+'&repairer='+e.data,
	      'dataType':'text',
	      success:function(res){
	          if(res==1){
	            modal_alert('标记[处理中]成功');
	          }else{
	            modal_alert('标记失败');
	          }
	      },
	      error:function(res){
	          modal_alert('连接失败');
	      }
	    });
      },
      onCancel: function(e) {

      }
    });
  });

  $('#markDone').click(function(){
    $('#prompt').modal({
      relatedTarget: this,
      onConfirm: function(e) {  	
	    $.ajax({
	      'type':'post',
	      'url':"{:U('Task/done')}",
	      'data':$('form').serialize()+'&repairer='+e.data,
	      'dataType':'text',
	      success:function(res){
	          if(res==1){
	            modal_alert('标记[已处理]成功');
	          }else{
	            modal_alert('标记失败');
	          }
	      },
	      error:function(res){
	          modal_alert('连接失败');
	      }
	    });
      },
      onCancel: function(e) {

      }
    });    
  });

  $('#markDel').click(function(){
    var string = '';
    var config = {
      action:'del',
      success:'删除成功',
      fail:'删除失败',
      error:'连接失败'
    };
    modal_confirm(string,config);
  });

  })
</script>
<include file="Public/footer" />
